API_BASE_URL=https://api.dietsystem.com.br/api
PUBLIC_SITE_URL=https://encontre-um-nutri.dietsystem.com.br
PUBLIC_APP_URL=https://my.dietsystem.com.br
PUBLIC_HCAPTCHA_SITE_KEY=
HOST=0.0.0.0
PORT=4321
